@import './mixins.scss';
@import './variables.scss';


html {
  font-size: $font-base;
}

.ant-message {
  top: 12px;
}

.ant-form-item {
  margin-bottom: 14px;
}

.phone-select .ant-select-selection-selected-value span {
  display: none;
}

.phone-select-dropdown {

  & .ant-select-dropdown-menu-item span {
    width: 80px;
    display: inline-block;
  }
}

#auth-manage {

  // header
  & .#{$a}-layout-header {
    padding: 0;
    display: flex;
    justify-content: space-between;

    & .logo img {
      width: 238px;
      height: 64px;
      background: rgba(255, 255, 255, 0.15);
    }
  }

  // aside
  & .#{$a}-layout-sider {  
    flex: 0 0 238px !important;
    max-width: 238px !important;
    min-width: 238px !important;
    width: 238px !important;

    & .#{$a}-menu-item-group-title {
      color: $black;
      font-size: $font-lg;
      padding-left: 24px;
      padding-right: 24px;
      font-weight: 500;
    }
    
    & .menu-group-title.#{$a}-menu-item-disabled {
      text-transform: uppercase;
      font-weight: 500;
      font-size: $font-sm;
      color: $black-3 !important;
      margin-top: 35px;
      cursor: default;

      & .anticon {
        margin-right: 5px;
      }

    }

    & .ant-menu-item-group-list .menu-group-title.#{$a}-menu-item-disabled:first-child {
      margin-top: 15px;
    }

    & .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
    .ant-menu-item:active, .ant-menu-submenu-title:active {
      background-color: transparent;
    }

    & .ant-menu-inline .ant-menu-item,
    & .ant-menu-inline .ant-menu-submenu-title,
    & .ant-menu-vertical-left .ant-menu-item,
    & .ant-menu-vertical-left .ant-menu-submenu-title,
    & .ant-menu-vertical-right .ant-menu-item,
    & .ant-menu-vertical-right .ant-menu-submenu-title,
    & .ant-menu-vertical .ant-menu-item,
    & .ant-menu-vertical .ant-menu-submenu-title {
      line-height: 25px;
      height: 25px;
    }

  }

  // main page menu
  & .#{$a}-layout-sider.aside-container {
    background: #fafafa;
    // transition: all 200ms ease-in-out;

    //sidemenu
    & .ant-menu {
      background: #fafafa;
    }

    & .ant-menu-inline .ant-menu-item-selected:after,
    & .ant-menu-inline .ant-menu-selected:after,
    & .ant-menu-inline .ant-menu-item:after,
    & .ant-menu-vertical-left .ant-menu-item:after,
    & .ant-menu-vertical-right .ant-menu-item:after,
    & .ant-menu-vertical .ant-menu-item:after {
      content: none;
    }
  }

  // in page menu


  //page container 
  & .#{$a}-layout-content,
  & .main-container.ant-layout .ant-layout {
    background: $white;
  }

  & .page-container {
    padding: 25px;
    margin: 25px;
  }

  //has side menu page container
  & .page-container.has-side-menu {
    margin: 25px;
    padding: 25px 25px 25px 0;
  }

  & .page-container.has-side-menu .main-content {
    padding-left: 65px;
  }

  // lg only Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    & .page-container.has-side-menu .main-content {
      padding-left: 45px;
    }
  }

  // md only Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    & .page-container.has-side-menu .main-content {
      padding-left: 25px;
    }
  }

  // md Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    & .page-container.has-side-menu > .ant-layout {
      flex-direction: column;
    }
  }


  // sm Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    & .page-container.has-side-menu {
      margin: 0;
      padding: 16px;
    }

    & .page-container.has-side-menu .main-content {
      padding-left: 0;
    }
  }

  //title
  & .page-title {
    margin-bottom: 30px;
  }

  // form control

  & .small-form-margin.ant-form-item {
    margin-bottom: 6px;
  }

  & .ant-form-item-control.value-field:after,
  & .ant-form-item-control.value-field:before {
    content: none;
  }

  //mobile menu
  .aside-overlay.show-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 0;
  }

  .ant-layout-sider-zero-width-trigger {
    display: none;
  }

  // up
  // sm Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {

  }

  // md Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {

  }

  // lg Large devices (desktops, 992px and up)
  @media (min-width: 992px) {

  }

  // xl Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {

  }

  // down
  // xs Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    
  }

  // sm Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    & .ant-layout{
      background: $white
    }

    & .#{$a}-layout-header {
      & .logo img {
        width: 200px;
        height: auto;
        background: rgba(255, 255, 255, 0.15);
      }

      & .logo-mobile {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }
      & .logo-mobile img {
        width: 64px;
        height: 64px;
      }

      & .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 64px;
      }

      & .header-menu > * {
        align-self: center;
      }

    }

    &.menu-opened .header,
    &.menu-opened .main-container {
      position: fixed;
      width: 100%;
    }

    &.menu-opened .main-container {
      top: 64px;
    }

    //sidebar
    & .#{$a}-layout-sider.mobile-aside {
      flex: 0 0 70% !important;
      max-width: 70% !important;
      min-width: 70% !important;
      width: 70% !important;
      position: absolute;
      min-height: 100vh;
      height: auto !important;
      background: #fafafa;

      & .close-aside {
        position: absolute;
        right: 16px;
        top: 26px;
        border: none;
        font-weight: 700;
      }

      & .ant-menu-item-group-title {
          margin-bottom: 15px;
      }

      & .ant-menu-inline .ant-menu-item,
      & .ant-menu-inline .ant-menu-submenu-title,
      & .ant-menu-vertical-left .ant-menu-item,
      & .ant-menu-vertical-left .ant-menu-submenu-title,
      & .ant-menu-vertical-right .ant-menu-item,
      & .ant-menu-vertical-right .ant-menu-submenu-title,
      & .ant-menu-vertical .ant-menu-item,
      & .ant-menu-vertical .ant-menu-submenu-title {
        line-height: 32px;
        height: 32px;
      }

      & .menu-group-title.ant-menu-item-disabled {
        margin-top: 26px;
        margin-bottom: 5px;
      }

      & .mobile-logout-menu {
        padding-left: 24px;
        margin-top: 25px;
        font-weight: 500;
      }
    }

    & .#{$a}-layout-sider.ant-layout-sider-collapsed {
      flex: 0 0 0 !important;
      max-width: 0 !important;
      min-width: 0 !important;
      width: 0 !important;
      position: absolute;
    }

    & .logo img {
      background: none !important;
      margin-left: -10px;
    }

    & .page-container {
      margin: 0;
    }

    //form-control
    & .ant-form-item-label {
      padding-bottom: 3px;
    }

    & .ant-form-item {
      margin-bottom: 20px;
    }

    & .small-form-margin.ant-form-item {
      margin-bottom: 10px;
    }

    & .value-no-input.ant-form-item .ant-form-item-label {
      padding-bottom: 0;
      margin-bottom: -2px;
    }

    //page-container
    & .page-container {
      padding: 16px;
    }
  }

  // md Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    
  }

  // lg Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    
  }

  // only
  // sm only Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {

  }

  // md only Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {

  }

  // lg only Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {

  }

  // xl only Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {

  }

}



// put some space in button's icon
.#{$a}-btn .#{$a}icon:first-child {
  margin-right: 2px;
}

[class^="btn--link"].ant-btn-primary:focus,
[class^="btn--link"].ant-btn-primary:hover,
[class^="btn--link"].ant-btn-primary.active,
[class^="btn--link"].ant-btn-primary:active {
  color: $white-2;
  background-color: transparent;
  border-color: transparent;
}