$a: ant;

$black: rgba(0, 0, 0, 0.85);
$black-2: rgba(0, 0, 0, 0.45);
$black-3: rgba(0, 0, 0, 0.25);

$white: #ffffff;
$white-2: rgba(255, 255, 255, 0.7);

$font-xs: .75rem;
$font-sm: .8571rem;
$font-base: 14px;
$font-lg: 1.143rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;
$font-3xl: 1.875rem;
$font-4xl: 2.25rem;
$font-5xl: 3rem;

