<template>
  <div>
    <div>
      <a-layout 
        id="auth-manage" 
        :class="collapsed ? '' : 'menu-opened'" 
        class="min-h-screen">
        <!-- header -->
        <a-layout-header class="header">
          <!-- logo -->
          <div class="logo d-none d-md-inline-block" >
            <a href="#"><img src="~assets/images/auth-manage-logo.svg" ></a>
          </div>

          <div class="logo-mobile d-md-none" >
            <a href="#"><img src="~assets/images/auth-manage-logo-mobile.svg" ></a>
          </div>
          <!-- ./logo -->

          <!-- header menu -->
          <div class="header-menu">
            <a-dropdown :trigger="['click']">
              <a-button 
                type="primary" 
                class="btn--link--white">
                <a-icon type="appstore" /> Apps <a-icon type="down" />
              </a-button>
              <a-menu slot="overlay">
                <a-menu-item key="0">
                  <a href="#">Customer</a>
                </a-menu-item>
                <a-menu-item key="1">
                  <a href="#">Courier</a>
                </a-menu-item>
                <a-menu-item key="2">
                  <a href="#">Partner</a>
                </a-menu-item>
              </a-menu>
            </a-dropdown>

            <!-- log out button -->
            <a-button 
              icon="logout" 
              size="default" 
              type="primary" 
              class="btn--link--white mr-4 d-none d-md-inline-block">Log out</a-button>

            <!-- mobile menu toggle -->
            <a-button
              ghost
              class="trigger d-md-none mobile-menu mr-3 md:mr-0"
              @click="()=> collapsed = !collapsed">
              <a-icon :type="collapsed ? 'menu-unfold' : 'menu-fold'" /> Menu
            </a-button>

          </div><!-- ./header menu -->
        </a-layout-header><!-- ./header -->

        <!-- container -->
        <a-layout class="container flex flex-row">
          <!-- desktop aside container -->
          <a-layout-sider
            class="aside-container desktop-aside d-none d-md-flex z-20"
          >

            <!-- menu list -->
            <a-menu
              :selected-keys="selectedMenu"
              :default-open-keys="['sub1']"
              :style="{ height: '100%', borderRight: 0 }"
              class="pb-20 md:pb-0"
              mode="inline"
              @select="onMenuChoosen"
            >
              <a-menu-item-group 
                title="Manage account" 
                class="pt-3 mt-3 md:t-0">
                <a-menu-item 
                  disabled 
                  class="menu-group-title"><a-icon type="user" /><span class="">General</span></a-menu-item>
                <a-menu-item key="1"><nuxt-link to="/manage/account">Account settings</nuxt-link></a-menu-item>
                <a-menu-item key="2"><nuxt-link to="/manage/change/mail">Change email / phone</nuxt-link></a-menu-item>
                <a-menu-item key="3"><nuxt-link to="/manage/login_account">Login accounts</nuxt-link></a-menu-item>
                <a-menu-item 
                  disabled 
                  class="menu-group-title"><a-icon type="lock" /><span class="">Security</span></a-menu-item>
                <a-menu-item key="4"><nuxt-link to="/manage/change_password">Change password</nuxt-link></a-menu-item>
                <a-menu-item 
                  key="5" 
                  disabled>Two step verification</a-menu-item>
                <a-menu-item 
                  key="6" 
                  disabled>API Tokens</a-menu-item>
                <a-menu-item 
                  key="7" 
                  disabled>Recent devices</a-menu-item>
                <a-menu-item 
                  disabled 
                  class="menu-group-title"><a-icon type="credit-card" /><span class="">Billing</span></a-menu-item>
                <a-menu-item 
                  key="8" 
                  disabled>Billing details</a-menu-item>
                <a-menu-item 
                  key="9" 
                  disabled>Saved cards</a-menu-item>
                <a-menu-item 
                  key="10" 
                  disabled>Transactions</a-menu-item>
              </a-menu-item-group>
            </a-menu><!-- ./menu list -->
          </a-layout-sider><!-- ./desktop aside container -->

          <!-- mobile aside container -->
          <a-layout-sider
            :trigger="null"
            v-model="collapsed"
            collapsible
            collapsed-width="0"
            class="aside-container d-md-none mobile-aside z-20"
          >

            <!-- menu list -->
            <a-menu
              :selected-keys="selectedMenu"
              :default-open-keys="['sub1']"
              :style="{ height: '100%', borderRight: 0 }"
              class="pb-20 md:pb-0"
              mode="inline"
              @select="onMenuChoosen"
            >
              <a-button
                shape="circle"
                icon="close"
                class="close-aside bg-transparent d-md-none"
                @click="()=> collapsed = !collapsed" />
              <a-menu-item-group 
                title="Manage account" 
                class="pt-3 mt-3 md:t-0">
                <a-menu-item 
                  disabled 
                  class="menu-group-title"><a-icon type="user" /><span class="">General</span></a-menu-item>
                <a-menu-item key="1"><nuxt-link to="/manage/account">Account settings</nuxt-link></a-menu-item>
                <a-menu-item key="2"><nuxt-link to="/manage/change/mail">Change email / phone</nuxt-link></a-menu-item>
                <a-menu-item key="3"><nuxt-link to="/manage/login_account">Login accounts</nuxt-link></a-menu-item>
                <a-menu-item 
                  disabled 
                  class="menu-group-title"><a-icon type="lock" /><span class="">Security</span></a-menu-item>
                <a-menu-item key="4"><nuxt-link to="/manage/change_password">Change password</nuxt-link></a-menu-item>
                <a-menu-item 
                  key="5" 
                  disabled>Two step verification</a-menu-item>
                <a-menu-item 
                  key="6" 
                  disabled>API Tokens</a-menu-item>
                <a-menu-item 
                  key="7" 
                  disabled>Recent devices</a-menu-item>
                <a-menu-item 
                  disabled 
                  class="menu-group-title"><a-icon type="credit-card" /><span class="">Billing</span></a-menu-item>
                <a-menu-item 
                  key="8" 
                  disabled>Billing details</a-menu-item>
                <a-menu-item 
                  key="9" 
                  disabled>Saved cards</a-menu-item>
                <a-menu-item 
                  key="10" 
                  disabled>Transactions</a-menu-item>
                <a-menu-item class="mobile-logout-menu"><a-icon type="logout" />Log out</a-menu-item>
              </a-menu-item-group>
            </a-menu><!-- ./menu list -->
          </a-layout-sider><!-- ./mobile aside container -->
          <div
            :class="collapsed ? '' : 'show-overlay'"
            class="aside-overlay z-10 d-md-none"
            @click="()=> collapsed = !collapsed" />

          <!-- main container -->
          <a-layout class="main-container z-0">
            <!-- page content container -->
            <!-- content side menu -->
            <!--             <div class="content-side-menu">
                <a-layout-sider theme="light" width="200">
                  <a-menu
                    mode="inline"
                    :defaultSelectedKeys="['1']"
                    :defaultOpenKeys="['sub1']"
                    class="h-full"
                  >
                      <a-menu-item key="1">option1</a-menu-item>
                      <a-menu-item key="2">option2</a-menu-item>
                      <a-menu-item key="3">option3</a-menu-item>
                      <a-menu-item key="4">option4</a-menu-item>
                  </a-menu>
                </a-layout-sider>
              </div> --><!-- ./content side menu -->
            <!-- main content -->
            <nuxt/>
          <!-- ./page content container -->
          </a-layout><!-- ./main container -->
        </a-layout><!-- ./container -->
      </a-layout><!-- ./page container -->
    </div>
  </div>
</template>
<script>
  export default{
  data () {
    return {
      selectedMenu:['1'],
      collapsed: true,
    }
  },
  mounted(){
    console.log("Main layout has been accessed");
  },
  methods: {
    toggleCollapsed () {
      this.collapsed = !this.collapsed
    },
    onMenuChoosen(data) {
      this.selectedMenu.pop();
      this.selectedMenu.push(data.key);
    },
  }
};
</script>
<style>

</style>
