<template>
  <!-- page container -->
  <a-layout-content class="page-container">
    <div class="text-center">
      <h1 class="pt-2">This is main page</h1>
      <div class="invisible h-64"/>
      <a-spin 
        size="large" 
        tip="Please Wait..."/>
    </div>
  </a-layout-content>
</template>
<script>
export default{
  data () {
    return {
      selectedMenu:['1'],
      collapsed: true,
    }
  },
  mounted(){
    console.log("my directory has been accessed");
  },
  methods: {
    toggleCollapsed () {
      this.collapsed = !this.collapsed
    },
    onMenuChoosen(data) {
      this.selectedMenu.pop();
      this.selectedMenu.push(data.key);
    },
  }
};
</script>

<style lang="scss">
  .login-account {
    & .ant-list-item {
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    & .ant-list-item-meta-title {
      margin-bottom: 0;
    }

    & .ant-list-item-meta-avatar .anticon {
      font-size: 18px !important;
    }
  }
</style>
